In [ ]:
#1. What exactly is []?
It is called as list, a datatype.The list stores elements in a sequential manner, whenever we need we can access.

In [1]:
a=[]
type(a)

list

In [9]:
#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? 
#(Assume [2, 4, 6, 8, 10] are in spam.)
spam = [2,4,6,8,10]
spam

[2, 4, 6, 8, 10]

In [10]:
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]

In [12]:
spam = [2,4,6,8,10]
#or you can replace the 3rd value with hello
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

In [14]:
spam = [2,4,6,8,10]
#let us preteend spam includes list ['a','b','c','d'] for the next three queries.
spam.append(['a','b','c','d'])
spam

[2, 4, 6, 8, 10, ['a', 'b', 'c', 'd']]

In [ ]:
#3. What is the value of spam[int(int('3' * 2) / 11)]?
int(int('3' * 2) / 11)
int(int('33')/11)
int(33/11)
int(3.0)
3

In [16]:
int(int('3' * 2) / 11)

3

In [17]:
spam[int(int('3' * 2) / 11)]#spam[3]

8

In [18]:
#4. What is the value of spam[-1]?
spam[-1]

['a', 'b', 'c', 'd']

In [20]:
#5. What is the value of spam[:2]?
spam[:2]

[2, 4]

In [21]:
#Let us pretend bacon has the list [3.14,'cat',11,'cat',True] for the next three questions.
bacon = [3.14,'cat',11,'cat',True]
bacon

[3.14, 'cat', 11, 'cat', True]

In [22]:
#6. What is the value of bacon.index('cat')?
bacon.index('cat')#always print the first occurance

1

In [23]:
#7. How does bacon.append(99) change the look of the list value in bacon?
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [24]:
#8. How does bacon.remove('cat') change the look of the list in bacon?
bacon.remove('cat')#removes the first occurance in the list
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
#9. What are the list concatenation and list replication operators? 
list concatenation operator(+):The concatenation operator combines the bits two or more data objects.
list replication operator(*):The replication operator performs multiple concatentions of a same bit.

In [1]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [2]:
a*3#It performed three concatenation of same list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#10. What is difference between the list methods append() and insert()?
append():append method is used to add elements at the end of the list.
syntax:listname.append(element)
insert():insert method is used to add element at a particular position or index.
syntax:listname.insert(index,element)

In [4]:
#append example
list1 = [22,3,4,12,3,4]
list1.append('jayanth')
list1#value gets added at the end of the list

[22, 3, 4, 12, 3, 4, 'jayanth']

In [5]:
#insert example
list1.insert(3,'hello')#hello is inserted at 3rd position or index without replacing any element
list1.insert(0,100)#100 is inserted at 0th position or index without replacing any element
list1

[100, 22, 3, 4, 'hello', 12, 3, 4, 'jayanth']

In [ ]:
#11. What are the two methods for removing items from a list?
By using remove(),pop() and clear() methods we can remove items.
remove():It removes the first occurance from the list.
pop():It removes the element of the given index.
clear():It removes or deletes all the elements from the list.

In [10]:
list1
list1.pop()#If we won't mention any index position then it deletes the last element in the list.
list1

[100, 22, 3, 4, 'hello', 12, 3, 4]

In [11]:
list1.pop(1)#removes 22 which is at 1st index
list1

[100, 3, 4, 'hello', 12, 3, 4]

In [12]:
#remove example
list1.append(3)
list1.remove(3)#It removes the 3 element at 1st index which is the first occurance 
list1

[100, 4, 'hello', 12, 3, 4, 3]

In [14]:
#clear example
list1.clear()#It clears or deletes all elements from the list 
list1

[]

In [ ]:
#12. Describe how list values and string values are identical.
The values that make up list are called as elements, lists are similar to string which are collection of characters in an order.

In [ ]:
#13.What's the difference between tuples and lists?
lists are mutable and tuples are immutable it means we can change the elements in the list but not able to change in tup.
we can see in the below example.

In [18]:
lis = [1,2,3]
lis[2] = 12
lis

[1, 2, 12]

In [19]:
tup = (1,2,3)
tup[2] = 12
tup

TypeError: 'tuple' object does not support item assignment

In [22]:
#14. How do you type a tuple value that only contains the integer 42?
t = (42,)
t

(42,)

In [24]:
#15. How do you get a list value's tuple form? How do you get a tuple value's list form?
#list to tuple
lis1 = [1,2,3,'j',33]
tup1 = tuple(lis1)
tup1

(1, 2, 3, 'j', 33)

In [25]:
#tuple to list
tup1
lis2 = list(tup1)
lis2

[1, 2, 3, 'j', 33]

In [ ]:
#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
#may be the answer is
List variable contain refrences to list values as list contains series of elements, where variables of string and int just 
contain the string and int value.