In [ ]:
#question 1
Values are     :'hello',-87.8,6
Expressions are:*,-,/,+

In [ ]:
#Question 2
String :It is one typeof datatype and you can store a string in variable. 
Variable:A variable is the one which stores the information anad it stores any datatype.

In [ ]:
#Question 3
Three different datatypes are int,float,boolean
int : It is a type of datatype which stores negative number as well as positive number in a particular range. 
eg:-234,23,45,-5889,590876
float : It is a type of datatype which can store negative number as well as positive number but it must have a decimal point.
eg:-2.3,0.9,7.896,6785.23,-654.876
boolean : It is a type of datatype which represents one of the two values true or false.
eg:True,False

In [ ]:
#Question 4
An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the
syntax of the language, that evaluates to a single value.

In [ ]:
#Question 5
Here spam = 10 is a assignment statement in this spam is a variable and it stores 10 value in it.
Expression means it is a combination of operators and operands that is interpreted to produce some other value.
eg:output = spam*spam -5 +2
The above is the expression which gives a value or solution by solving it.The above expression gives a value 97.
97 stores in the output.

In [1]:
#Question 6 
bacon = 22
bacon + 1

23

In [2]:
#Question 7
'spam'+'spamspam'

'spamspamspam'

In [3]:
#Question 7
'spam'*3
#here both gives same output the first one is concatenats the two words and here below one multiplies the word,both shows same output.

'spamspamspam'

In [ ]:
#Question 8
eggs - here eggs is a valid variable name because it has all things a variable must have, like it doesnot have special characters and 
it is not starting with the number,etc.
100 - Here 100 cannot be a variable name because it is a value and a int datatype.

In [6]:
#Question 9 - int() function
a = '10'
int(a)

10

In [7]:
#Question 9 - float() function
a = '10'
float(a)

10.0

In [10]:
#Question 10
'I have eaten '+99+' burritos.'
#Here it won't work because 99 is not in string type and it won't concatenate.

TypeError: can only concatenate str (not "int") to str

In [11]:
#Question 10
'I have eaten '+'99'+' burritos.'
#here we can fix it by making 99 to string by declaring in the single quotes then it will concatenates and give output.

'I have eaten 99 burritos.'